/* Подключение шрифтов */
@font-face {
  font-family: 'Lato Light';
  src: url("./assets/fon/Lato-Light.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato Regular';
  src: url("./assets/fon/Lato-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato Bold';
  src: url("./assets/fon/Lato-Bold.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato Black';
  src: url("./assets/fon/Lato-Black.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Общие стили */

body {
  font-family: 'Lato Regular';
}